<h2>IssueAnalysesController#index</h2>
<%= include_gon %>
<div id="redmine_plugin_issue_analyze_app"></div>
<%= javascript_include_tag "redmine_plugin_issue_analyze_build.js", :plugin => "redmine_plugin_issue_analyze" %>
